<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>textColor1</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>value</key>
		<string>50,150,50,1</string>
	</dict>
	<key>textColor2</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>value</key>
		<string>100,100,100,1</string>
	</dict>
	<key>viewBackgroundColor</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>value</key>
		<string>240,240,240,1</string>
	</dict>
	<key>tabBarItemTitleNormalColor</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>value</key>
		<string>55,55,55,1</string>
	</dict>
	<key>tabBarItemTitleSelectedColor</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>value</key>
		<string>0,0,0,1</string>
	</dict>
	<key>tabBarBarTintColor</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>value</key>
		<string>255,255,255,1</string>
	</dict>
	<key>naviBarItemTitleColor</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>value</key>
		<string>55,55,55,1</string>
	</dict>
	<key>tabBarTintColor</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>value</key>
		<string>55,55,55,1</string>
	</dict>
	<key>naviBarTitleColor</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>value</key>
		<string>55,55,55,1</string>
	</dict>
	<key>naviBarBarTintColor</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>value</key>
		<string>255,255,255,1</string>
	</dict>
	<key>naviBarTintColor</key>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>value</key>
		<string>55,55,55,1</string>
	</dict>
	<key>textFont2</key>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>value</key>
		<string>14</string>
	</dict>
	<key>textFont1</key>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>value</key>
		<string>20</string>
	</dict>
	<key>tabBarItemTitleFont</key>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>value</key>
		<string>15</string>
	</dict>
	<key>naviBarTitleFont</key>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>value</key>
		<string>20</string>
	</dict>
	<key>naviBarItemTitleFont</key>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>value</key>
		<string>15</string>
	</dict>
</dict>
</plist>
